# Lookalike Model

In [15]:
#import libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
#Load Data
customers = pd.read_csv("Customers.csv")
products = pd.read_csv("Products.csv")
transactions = pd.read_csv("Transactions.csv")

In [3]:
#Merge the Data
merged = transactions.merge(customers, on="CustomerID", how="left")
merged = merged.merge(products, on="ProductID", how="left")
merged.head()

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price_x,CustomerName,Region,SignupDate,ProductName,Category,Price_y
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,Andrea Jenkins,Europe,2022-12-03,ComfortLiving Bluetooth Speaker,Electronics,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,Brittany Harvey,Asia,2024-09-04,ComfortLiving Bluetooth Speaker,Electronics,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,Kathryn Stevens,Europe,2024-04-04,ComfortLiving Bluetooth Speaker,Electronics,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,Travis Campbell,South America,2024-04-11,ComfortLiving Bluetooth Speaker,Electronics,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,Timothy Perez,Europe,2022-03-15,ComfortLiving Bluetooth Speaker,Electronics,300.68

In [4]:
# Feature Engineering
customer_features = merged.groupby("CustomerID").agg(
    total_spend=("Price_x", "sum"),
    avg_spend=("Price_x", "mean"),
    num_transactions=("TransactionID", "count")
).reset_index() # Aggregate transaction data for each customer

In [5]:
# Create one-hot encoding
product_categories = pd.get_dummies(merged[["CustomerID", "Category"]], columns=["Category"])
product_categories = product_categories.groupby("CustomerID").sum().reset_index()

In [6]:
# Merge
customer_profiles = customer_features.merge(product_categories, on="CustomerID", how="left")
customer_profiles = customer_profiles.merge(customers[["CustomerID", "Region"]], on="CustomerID", how="left")

In [7]:
# One-hot encode the 'Region' column
customer_profiles = pd.get_dummies(customer_profiles, columns=["Region"], drop_first=True)

In [8]:
# Normalize Features
scaler = StandardScaler()
scaled_features = scaler.fit_transform(customer_profiles.drop(columns=["CustomerID"]))

In [9]:
# Compute Similarity
similarity_matrix = cosine_similarity(scaled_features)

In [10]:
# Function to Recommend Similar Customers
def recommend_similar(customers_df, similarity_matrix, target_customer_id, num_recommendations=3):
    # Get index of target customer
    target_idx = customers_df[customers_df["CustomerID"] == target_customer_id].index[0]
    
    # get similarity scores for the target customer
    similarity_scores = similarity_matrix[target_idx]
    
    # Rank customers by similarity score (excluding the target customer itself)
    similar_customers = sorted(
        [(idx, score) for idx, score in enumerate(similarity_scores) if idx != target_idx],
        key=lambda x: x[1],
        reverse=True
    )
    
        
    # Fetch top N similar customers
    recommendations = [
        (customers_df.iloc[idx]["CustomerID"], score) for idx, score in similar_customers[:num_recommendations]
    ]
    
    return recommendations

In [11]:
# Generate Lookalike Mapping for First 20 Customers
lookalike_map = {}

for target_customer_id in customers["CustomerID"][:20]:  # First 20 customers
    recommendations = recommend_similar(customer_profiles, similarity_matrix, target_customer_id, num_recommendations=3)
    lookalike_map[target_customer_id] = recommendations

In [12]:
# Convert Lookalike Map to DataFrame
lookalike_data = []
for cust_id, recs in lookalike_map.items():
    for rec_cust_id, score in recs:
        lookalike_data.append({"cust_id": cust_id, "rec_cust_id": rec_cust_id, "score": round(score, 4)})

lookalike_df = pd.DataFrame(lookalike_data)
display(lookalike_df)

   cust_id rec_cust_id   score
0    C0001       C0148  0.8534
1    C0001       C0120  0.8461
2    C0001       C0190  0.7883
3    C0002       C0134  0.9366
4    C0002       C0159  0.8970
5    C0002       C0106  0.8866
6    C0003       C0031  0.9766
7    C0003       C0025  0.8892
8    C0003       C0129  0.8591
9    C0004       C0113  0.9242
10   C0004       C0012  0.8822
11   C0004       C0104  0.7862
12   C0005       C0007  0.9380
13   C0005       C0140  0.9105
14   C0005       C0186  0.8412
15   C0006       C0187  0.8381
16   C0006       C0137  0.7903
17   C0006       C0085  0.7681
18   C0007       C0005  0.9380
19   C0007       C0146  0.9085
20   C0007       C0115  0.8655
21   C0008       C0098  0.8516
22   C0008       C0059  0.8423
23   C0008       C0194  0.8132
24   C0009       C0061  0.9047
25   C0009       C0198  0.8911
26   C0009       C0062  0.8296
27   C0010       C0111  0.8900
28   C0010       C0062  0.8640
29   C0010       C0061  0.7877
30   C0011       C0126  0.9546
31   C0011       C0171  0.8950
32   C0011       C0153  0.8905
33   C0012       C0104  0.8974
34   C0012       C0004  0.8822
35   C0012       C0152  0.8666
36   C0013       C0184  0.9301
37   C0013       C0188  0.8828
38   C0013       C0102  0.8828
39   C0014       C0060  0.9535
40   C0014       C0198  0.8711
41   C0014       C0063  0.8421
42   C0015       C0131  0.9300
43   C0015       C0185  0.9255
44   C0015       C0058  0.9053
45   C0016       C0183  0.8839
46   C0016       C0067  0.8173
47   C0016       C0042  0.7659
48   C0017       C0075  0.9669
49   C0017       C0041  0.9362
50   C0017       C0081  0.8472
51   C0018       C0035  0.8949
52   C0018       C0125  0.8784
53   C0018       C0055  0.8417
54   C0019       C0070  0.8723
55   C0019       C0064  0.8681
56   C0019       C0057  0.7932
57   C0020       C0058  0.8977
58   C0020       C0015  0.8684
59   C0020       C0117  0.7801

In [13]:
# Save Lookalike Data to CSV
lookalike_df.to_csv("Lookalike.csv", index=False)

In [14]:
# Print Summary
print("Lookalike mapping generated for first 20 customers and saved to 'Lookalike.csv'.")

Lookalike mapping generated for first 20 customers and saved to 'Lookalike.csv'.